ion-content {
  ion-list {
    margin-top: 2rem;
    .chat-item {
      &__btn {
        width: 100%;
        display: flex;
        --padding-start: 0 !important;
        --padding-end: 0 !important;
        --padding-top: 0 !important;
        --padding-bottom: 0 !important;
        padding: 0.2rem;
        &--avatar {
          height: 3rem;
          width: 3rem;
        }
        &--label {
          margin-right: auto;
          margin-left: 2%;
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
          flex: 1;
          text-align: left;
          .top-text {
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: capitalize;
          }
          .bottom-text {
            font-size: 0.8rem;
            font-weight: 500;
            color: rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
    }
  }
  .add-chat {
    height: 3rem;
    width: 4rem;

    position: fixed;
    bottom: -1%;
    right: 0;
    transform: translate(-1%, 0);
    ion-button {
      background: var(--ion-color-medium);
      border-radius: 0.4rem;
    }
  }
}
