<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item *ngFor="let item of chats; let index = index" class="chat-item">
      <ion-button class="chat-item__btn" fill="clear" (click)="openChat(item)">
        <ion-avatar slot="start" class="chat-item__btn--avatar">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label class="chat-item__btn--label">
          <ion-text class="top-text">
            {{item.type==="group" ? item.type: item.users[0].email}}</ion-text
          >
          <ion-text class="bottom-text">Hello Salim</ion-text>
          <!--  -->
        </ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
