apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-photos-db-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-photos-db
  template:
    metadata:
      labels:
        app: user-photos-db
    spec:
      containers:
        - name: user-photos-db
          image: crawan/posts-db
          #imagePullPolicy: Never
          env:
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY

---
apiVersion: v1
kind: Service
metadata:
  name: user-photos-db-srv
spec:
  selector:
    app: user-photos-db
  ports:
    - name: db
      protocol: TCP
      port: 5432
      targetPort: 5432
