ion-header {
  ion-toolbar {
    ion-buttons {
      height: 6rem;
    }
    ion-title {
      height: 6rem;
      .content {
        display: flex;

        &__avatar {
          ion-avatar {
            height: 4rem;
            width: 4rem;
          }
        }
        &__label {
          display: flex;
          ion-text {
            margin: auto;
            font-size: 20px;
            font-weight: bold;
            text-transform: capitalize;
            margin-left: 20%;
          }
        }
      }
    }
  }
}

ion-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;

  ion-text {
    font-size: 20px;
    font-weight: bold;
    padding: 1rem;

    border-radius: 2rem;
    display: block;
  }
  .right {
    width: 80%;
    margin-left: auto;

    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    background: rgb(2, 2, 2);
    color: #ffff;
  }
  .left {
    width: 80%;
    margin-right: auto;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    background: rgb(223, 222, 222);
    color: #4b4b4b;
  }
}

.form {
  width: 100%;
  background: rgb(188, 188, 195);
  position: fixed;
  bottom: -5%;
  left: 50;
  transform: translate(0, -50%);
  height: 5rem;
  display: flex;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  gap: 1rem;
  &__text {
    margin: auto;
    flex: 1;
    background: white;
    border-radius: 2rem;
    padding: 0.3rem 1rem;
  }
  &__btn {
    align-self: center;
  }
}
