<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/tabs/chats']" icon="arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="content">
        <div class="content__avatar">
          <ion-avatar>
            <img
              alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
          </ion-avatar>
        </div>
        <ion-label class="content__label">
          <ion-text>{{chat.users[0].first_name}}</ion-text>
        </ion-label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none" ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <div *ngFor="let item of chat.messages; ">
      <ion-text
        *ngIf="chat.chatuser[0].user_id !== item.from_user_id
      "
        class="left"
        >{{item.content}}
      </ion-text>
      <ion-text
        class="right"
        *ngIf="chat.chatuser[0]?.user_id === item.from_user_id

      "
        >{{item.content}}
      </ion-text>
    </div>
  </ion-list>
  <form #f="ngForm" (submit)="onSubmit(f)" class="form">
    <div class="form__text">
      <ion-textarea
        (input)="onChange($event)"
        labelPlacement="floating"
        value="{{ message }}"
        ngModel
        name="message"
        [(ngModel)]="message"
      ></ion-textarea>
    </div>
    <div class="form__btn"><ion-button type="submit"> send </ion-button></div>
  </form>
</ion-content>
